::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:hover {
  background-color: #1e1e1e;
  border-left: 1px solid #464646;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #808080;
  border: 2px solid transparent;
  border-left-width: 7px;
  border-radius: 10.5px 5.5px 5.5px 10.5px / 5.5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f8f;
  border-left-width: 3px;
  border-radius: 8.5px 7.5px 7.5px 8.5px / 7.5px;
}

html {
  --scrollbar-offset: 16px;
  padding-left: var(--scrollbar-offset);
  scrollbar-color: #808080 transparent;
}

html.fixed {
  overflow-y: hidden;
  padding-right: var(--scrollbar-offset);
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
  min-height: 100vh;
}

section {
  display: none;
}

body[data-page='home'] > section:nth-child(1),
body[data-page='portfolio'] > section:nth-child(2),
body[data-page='contact'] > section:nth-child(4) {
  display: block;
  margin: 50px 15vw;
  text-align: center;
}

body[data-page='story'] > section:nth-child(3) {
  display: flex;
  justify-content: space-between;
  margin: 96px 15vw;
}

video:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

h1 {
  font-size: 250%;
  margin: 0 0 24px;
}

#intro {
  cursor: pointer;
  display: block;
  height: calc(100vh - 170px);
  width: 70vw;
}

#play {
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 30px 0px 30px 60px;
  left: calc(50% - 30px);
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transition: opacity 0.5s ease-in-out;
}

#play.active {
  opacity: 0
}

#filters {
  display: inline-block;
  margin: 0 auto 40px;
  text-align: left;
}

#filters > li {
  display: inline-block;
}

#filters > li:not(:last-child) {
  margin-right: 20px;
}

#filters button {
  border-radius: 34px;
  font-size: 150%;
  padding: 15px;
}

#filters button:hover {
  color: #cbf7ed;
}

#filters button.active {
  background-color: #033860;
}

#tiles {
  display: flex;
  flex-wrap: wrap;
  margin: -20px calc(7vw / -6);
}

#tiles > * {
  cursor: pointer;
  margin: 20px calc(10% / 6);
  width: 30%;
}

#tiles img {
  height: calc(21.7vw - 0.6 * var(--scrollbar-offset));
  object-fit: cover;
}

#tiles > .coming-soon > img {
  display: block;
  filter: grayscale();
  width: 100%;
}

#tiles > .coming-soon {
  position: relative;
}

#tiles > .coming-soon::after {
  background-image: url('Sticker_comingsoon3.png');
  background-size: cover;
  content: '';
  height: 50%;
  left: -10%;
  position: absolute;
  top: -10%;
  width: 50%;
}

#tiles:not([class='']) > * {
  display: none;
}

#tiles.Editing > .Editing,
#tiles.Design > .Design,
#tiles.Animation > .Animation,
#tiles.Games > .Games {
  display: block;
}

#modal {
  background-color: #000000c0;
  display: flex;
  height: calc(100% - 100px);
  left: 0;
  opacity: 0;
  padding: 50px 5vw;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 90vw;
}

#modal.open {
  opacity: 1;
  pointer-events: auto;
}

#left {
  padding-right: calc(20px - var(--scrollbar-offset));
}

#content {
  flex: auto;
  overflow-y: scroll;
  padding-left: var(--scrollbar-offset);
}

#content > img,
#content > video {
  display: none;
  height: calc(100% - 73px);
  margin: 0 auto;
  max-width: 100%;
  object-fit: scale-down;
}

#content > img.open,
#content > video.open {
  display: block;
}

#content > p {
  background-color: black;
  border-radius: 0 0 34px 34px;
  font-size: 150%;
  margin: 0;
  padding: 15px;
  text-align: justify;
}

#right {
  padding-left: calc(20px - var(--scrollbar-offset));
}

#left,
#right {
  font-size: 400%;
  padding-bottom: 73px;
}

#left.hidden,
#right.hidden {
  visibility: hidden;
}

#close {
  cursor: pointer;
  font-size: 350%;
  left: 5%;
  position: absolute;
  top: 30px;
}

#left:hover,
#right:hover,
#close:hover {
  color: #cbf7ed;
}

#bullets {
  left: 50%;
  position: absolute;
  top: 60px;
  transform: translateX(-50%);
}

#bullets.hidden {
  display: none;
}

#bullets > li {
  background-color: black;
  border-radius: 9px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  margin: 0 5px;
  width: 18px;
}

#bullets > li.active {
  background-color: white;
  pointer-events: none;
}

#about {
  flex: 0.6;
  font-size: 150%;
}

#skills {
  flex: 0.3;
}

#skills > div {
  align-items: center;
  display: flex;
  margin: 24px 0;
}

#skills svg {
  margin-right: 20px;
  width: 80px;
}

#skills > div > div {
  border: 2px solid white;
  border-radius: 20px;
  flex: auto;
}

#skills > div > div > div {
  background: linear-gradient(45deg, #087ca7, rgb(calc(8 + 178 * var(--ratio)), calc(124 - 74 * var(--ratio)), calc(167 - 88 * var(--ratio))));
  border-radius: 18px;
  height: 40px;
  width: calc(100% * var(--ratio));
}

address {
  align-items: flex-end;
  display: flex;
  font-style: inherit;
  justify-content: space-between;
}

address > a {
  color: inherit;
  text-decoration: inherit;
}

address div {
  background-color: black;
  position: relative;
  top: 18px;
  transition: top 0.1s ease-in-out;
}

address > a:hover > div {
  top: 0;
}

address svg {
  width: 20vw;
}

aside {
  background: linear-gradient(45deg, #087ca7, #ba324f);
  height: 100%;
  position: absolute;
  right: -300px;
  top: 0;
  transition: right 0.5s ease-in-out;
  width: 300px;
}

aside.open {
  right: 0;
}

aside ul {
  margin: 50px 30px;
}

aside li {
  font-size: 200%;
  margin: 24px 0;
}

#roof {
  border-color: transparent transparent white;
  border-style: solid;
  border-width: 0 20px 20px;
}

#base {
  background-color: white;
  height: 20px;
  width: 40px;
}

aside button:hover > #roof {
  border-bottom-color: #cbf7ed;
}

aside button:hover > #base {
  background-color: #cbf7ed;
}

aside button:hover {
  color: #cbf7ed;
}

#menu {
  position: absolute;
  right: 50px;
  top: 50px;
}

#menu > div {
  border-top: 2px solid white;
  width: 40px;
}

#menu > div:nth-child(2) {
  margin: 12px 0;
}

#menu:hover > div {
  border-top-color: #cbf7ed;
}
