@font-face {
  font-family: Raleway;
  src: url('raleway-v22-latin-regular.woff2');
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar:hover {
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #808080;
  border: 2px solid transparent;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f8f;
}

html {
  --scrollbar-offset: 14px;
  padding-left: var(--scrollbar-offset);
  scrollbar-color: #808080 transparent;
}

html.fixed {
  overflow-y: hidden;
  padding-right: var(--scrollbar-offset);
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: black;
  color: white;
  font-family: Raleway;
  line-height: 1.2;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body[data-page='home'] {
  background-color: #090909;
}

body[data-page='home'] > section:nth-child(1),
body[data-page='portfolio'] > section:nth-child(2) {
  display: block;
}

body[data-page='story'] > section:nth-child(3) {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

body[data-page='contact'] > section:nth-child(4) {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

body.fadeout > section {
  animation: fadeout 0.2s linear;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

section {
  animation: fadein 0.2s linear;
  display: none;
  margin: 40px calc(12vw - var(--scrollbar-offset));
  min-height: calc(100vh - 150px);
}

video:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

#logo {
  display: block;
  height: 72px;
  margin: 0 auto 24px;
  max-width: 100%;
  object-fit: contain;
  object-position: bottom;
}

#intro {
  cursor: pointer;
  display: block;
  height: calc(100vh - 176px);
  margin: 0 auto;
  max-width: 100%;
  transition: opacity 0.4s ease-in-out;
}

#intro.hidden,
#intro.active + #play {
  opacity: 0;
}

#play {
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 30px 0px 30px 60px;
  left: calc(50% - 30px);
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: calc(50vh - 30px + 48px);
  transition: opacity 0.4s ease-in-out;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#filters > li {
  display: inline-block;
}

#filters button {
  border-radius: 34px;
  font-size: 150%;
  padding: 15px;
}

#filters button:hover {
  color: #daffd4;
}

#filters > li:nth-child(1) > button.active {
  background-color: #84ad62;
}

#filters > li:nth-child(2) > button.active {
  background-color: #658b4e;
}

#filters > li:nth-child(3) > button.active {
  background-color: #46693a;
}

#filters > li:nth-child(4) > button.active {
  background-color: #274726;
}

#tiles {
  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 37.2px 6vw 7.2px;
}

#tiles > * {
  cursor: pointer;
}

#tiles img {
  height: 20vw;
  object-fit: cover;
  width: 100%;
}

#tiles > .coming-soon > img {
  display: block;
  filter: grayscale();
}

#tiles > .coming-soon {
  position: relative;
}

#tiles > .coming-soon::after {
  background-image: url('Sticker_comingsoon3.png');
  background-size: cover;
  content: '';
  height: 50%;
  left: -10%;
  position: absolute;
  top: -10%;
  width: 50%;
}

#tiles:not([class='']) > * {
  display: none;
}

#tiles.editing > .editing,
#tiles.design > .design,
#tiles.animation > .animation,
#tiles.games > .games {
  display: block;
}

#modal {
  background-color: #000000c0;
  display: flex;
  height: calc(100% - 80px);
  left: 0;
  opacity: 0;
  padding: 40px 4vw;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.4s ease-in-out;
  width: 92vw;
  z-index: 1;
}

html.fixed #modal {
  opacity: 1;
  pointer-events: auto;
}

#content {
  flex: 1;
  margin-top: 31px;
  overflow-y: scroll;
  padding-left: var(--scrollbar-offset);
}

#content > video,
#content > img {
  display: none;
  height: calc(100% - 68px);
  margin: 0 auto;
  max-width: 100%;
  object-fit: scale-down;
}

#content > video.open,
#content > img.open {
  display: block;
}

#content > p {
  background-color: black;
  border-radius: 0 0 34px 34px;
  font-size: 138%;
  margin: 0;
  padding: 15px;
}

#left {
  padding-right: calc(20px - var(--scrollbar-offset));
}

#right {
  padding-left: calc(20px - var(--scrollbar-offset));
}

#left,
#right {
  font-size: 400%;
  padding-bottom: 68px;
  padding-top: 31px;
}

#left.hidden,
#right.hidden {
  visibility: hidden;
}

#left:hover,
#right:hover,
#close:hover {
  color: #daffd4;
}

#close {
  cursor: pointer;
  font-size: 350%;
  left: 4%;
  position: absolute;
  top: 15px;
}

#bullets {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#bullets.hidden {
  display: none;
}

#bullets > li {
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 0 5px;
  width: 16px;
}

#bullets > li:hover {
  background-color: #daffd4;
}

#bullets > li.active {
  background-color: #46693a;
  pointer-events: none;
}

h1 {
  color: #daffd4;
  font-size: 250%;
  margin: 15px 0 9px;
  width: 100%;
}

#about {
  flex: 1;
  font-size: 138%;
  min-width: 48%;
}

#photo {
  flex: 1;
  min-width: 350px;
}

blockquote {
  color: #daffd4;
  font-size: 400%;
  margin: 0;
}

blockquote + p {
  margin-bottom: 0;
}

#arrow {
  flex: 0.5 0px;
  margin-left: 300px;
  min-height: 100px;
}

address {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

address > a {
  padding: 0 20px 20px;
}

address > a:hover > svg {
  top: -15px;
}

address svg {
  display: block;
  height: 45px;
  position: relative;
  top: 0;
  transition: top 0.2s ease-in-out;
}

aside {
  background-color: #274726;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px 30px;
  position: absolute;
  right: -300px;
  top: 0;
  transition: right 0.4s ease-in-out;
  width: 300px;
}

aside.open {
  right: 0;
}

aside.open ul {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

aside ul {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

aside li {
  font-size: 200%;
  margin: 24px 0;
}

#roof {
  border-color: transparent transparent currentColor;
  border-style: solid;
  border-width: 0 20px 20px;
}

#base {
  background-color: currentColor;
  height: 20px;
  width: 40px;
}

aside button:hover {
  color: #daffd4;
}

body[data-page='home'] button[data-link='home'],
body[data-page='portfolio'] button[data-link='portfolio'],
body[data-page='story'] button[data-link='story'],
body[data-page='contact'] button[data-link='contact'] {
  color: #daffd4;
  pointer-events: none;
}

body[data-page='home'] > aside > span {
  color: #090909;
}

aside > span {
  color: black;
  margin-bottom: 16px;
}

#menu {
  position: absolute;
  right: calc(40px - var(--scrollbar-offset));
  top: 40px;
}

#menu > div {
  border-top: 2px solid white;
  width: 40px;
}

#menu > div:nth-child(2) {
  margin: 12px 0;
}

#menu:hover > div {
  border-top-color: #daffd4;
}
